/.idea/
/src/LinkConverterApplication/LinkConverterApplication/bin/
/src/LinkConverterApplication/LinkConverterApplication/obj/
/src/LinkConverterApplication/LinkConverterApplication.Tests/bin/
/src/LinkConverterApplication/LinkConverterApplication.Tests/obj/
